@font-face {
  font-family: 'Wayfarer\'s Toy Box';
  src: url('/fonts/wayfarers-toy-box/Wayfarers-Toy-Box.woff2') format('woff2'),
      url('/fonts/wayfarers-toy-box/Wayfarers-Toy-Box.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.features-block {
  position: relative;
}

.ThreeManagerTarget {
  canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

@import "./SectionGrid.scss";